.c-grid-block {
  background: $light-grey;
}

  .c-grid-block__image {
    width: 100%;
  }

  .c-grid-block__content {
    padding: 5rem 0; // Replace with utility

    @media (max-width: $screen-sm-max) {
      // Replicate container padding for full width blocks
      padding-left: 15px;
      padding-right: 15px;

      text-align: center;
    }

  }

  .c-grid-block__button {
    margin-top: 4rem;
  }
