<div id="overlay-bar">
    <div class="row">
        <div class="col-xs-9">
            <a href="/" id="overlay-bar-logo">
                <img src="/skin/logo.svg" alt=""/>
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" id="overlay-bar-open-menu" class="open-overlay pull-right"><i class="fal fa-fw fa-bars"></i></a>
        </div>
    </div>
</div>
