<div class="c-testimonials">
    <div class="container">

        <span class="c-testimonials__quote">
            <i class="fas fa-quote-left"></i>
            <i class="fas fa-quote-right"></i>
        </span>

        <div class="slider">
            <div class="c-testimonials__slide">
                <span>Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit.</span>
                <strong>Bilbo Baggins</strong>
            </div>
            <div class="c-testimonials__slide">
                <span>Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit.</span>
            </div>
            <div class="c-testimonials__slide">
                <span>Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit.</span>
            </div>
            <div class="c-testimonials__slide">
                <span>Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit.</span>
            </div>
            <div class="c-testimonials__slide">
                <span>Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit.</span>
            </div>
            <div class="c-testimonials__slide">
                <span>Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit.</span>
            </div>
        </div>
    </div>
</div>

{% js %}
    jQuery('.slider').slick({
        dots: true,
        arrows: false,
    });
{% endjs %}
